<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-google-signin" version="0.0.1">

  <name>GoogleSignIn</name>

  <description>Google sign in for Cordova.</description>

  <author>Corinzio</author>

  <license>MIT</license>

  <keywords>Google, Google Login, Login, OAuth, SignIn, Sign In</keywords>

  <repo>https://github.com/corinzio/cordova-plugin-google-signin.git</repo>

  <engines>
    <engine name="cordova" version=">=4.0.0"/>
    </engines>

    <js-module src="www/GSignIn.js" name="GSignIn">
      <clobbers target="gsignin"/>
    </js-module>

    <!-- android -->
    <platform name="android">
      <framework src="com.google.android.gms:play-services-gcm:+"/>
      <framework src="com.google.android.gms:play-services-auth:+"/>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="signin">
          <param name="android-package" value="tumblr.corinzio.cordova.plugins.signin.GSignIn"/>
          <param name="onload" value="true"/>
        </feature>
        <access origin="https://accounts.google.com/*"/>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
        <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
      </config-file>
      <source-file src="src/android/GSignIn.java" target-dir="src/tumblr/corinzio/cordova/plugins/signin"/>
    </platform>

  </plugin>
